body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background:linear-gradient(to bottom,
   rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
     #000000 100%),
     url("https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg");
  background-color: black;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
.main{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.main h1{

  color:rgb(33, 37, 41);
  font-size: 4rem;
}
.main h3{
  text-align: center;
  width: 450px;
  color: rgba(255, 255, 255, 0.5)
}
button{
  padding: 20px 32px;
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
  border-radius: 5px;
  border: 1px solid transparent;
}